.col_12.text-center.foot-text
	p © InsuranceExpress.com, 2005 Vista Parkway, ste 200 West Palm Beach, FL 33411, 
		a(href="mailto:info@insuranceexpress.com") info@insuranceexpress.com
	ul
		li 
			a(href="http://insuranceexpress.com/") Home Page 
		li &nbsp| 
		li 
			a(href="http://insuranceexpress.com/auto-insurance") Auto Insurance 
		li &nbsp| 
		li 
			a(href="http://insuranceexpress.com/home-insurance") Home Insurance 
		li &nbsp|  
		li 
			a(href="http://insuranceexpress.com/health-insurance") Health Insurance 
		li &nbsp|  
		li 
			a(href="http://insuranceexpress.com/life-insurance") Life Insurance 
		li &nbsp| 
		li 
			a(href="http://insuranceexpress.com/commercial-insurance") Commercial Insurance 
		li &nbsp| 
		li 
			a(href="http://insuranceexpress.com/flood-insurance") Flood Insurance  
		li &nbsp| 
		li 
			a(href="http://insuranceexpress.com/privacy-policy") Privacy Policy
	p Articles: 
		a(href="http://blog.insuranceexpress.com/personal-injury-protection-pip") PIP
		| , 
		a(href="http://blog.insuranceexpress.com/do-i-need-insurance-to-rent-a-car") Car Rental
		| , 
		a(href="http://blog.insuranceexpress.com/what-is-no-fault-insurance") No Fault Insurance
		| , 
		a(href="http://blog.insuranceexpress.com/get-car-insurance-in-3-easy-steps") 3 Easy Steps To Car Insurance
		| , 
		a(href="http://blog.insuranceexpress.com/5-ways-to-save-on-teen-auto-insurance") 5 Ways To Save On Car Insurance