h1.form_title Step 3 of 3: Vehicle Details
.car_steps.step3
	.car_cnt
		.car_color
		.car_black
	.step.step_active
		span.st_title Step
		span.round 3
	.step.step_active
		span.st_title Step
		span.round 2
	.step.step_active
		span.st_title Step
		span.round 1


.input_container
	.label 
		span Street Address*
	input(type="text", id="street_address_id", name="street_address", required).field.field_input
	i.i_icon
.input_container
	.label 
		span Zipcode*
	input(type="number", id="zipcode_id", name="zipcode", min="10000", max="80000", maxlength="5", required).field.field_input
	i.i_icon
.input_container
	.label 
		span City*
	input(type="text", id="city_id", name="city", required).field.field_input
	i.i_icon
.input_container
	.label 
		span State*
	select(id="state", name="state_id", required).field.field_select
		option(value, disabled, selected) State
		option(value="Text 1") Text 1 
		option(value="Text 2") Text 2
		option(value="Text 3") Text 3
	i.i_icon
.input_container
	.label 
		span Phone*
	input(type="tel", id="phone_id", name="phone", placeholder="xxx-xxx-xxxx", required).field.field_input
	i.i_icon
.input_container
	.label 
		span Email*
	input(type="email", id="email_id", name="email", required).field.field_input
	i.i_icon
.input_container
	.label 
		span Best time to contact
	select(id="time_to_contact_id", name="time_to_contact").field.field_select
		option(value, disabled, selected) Anytime
		option(value="Text 1") Text 1 
		option(value="Text 2") Text 2
		option(value="Text 3") Text 3
	i.i_icon
.input_container
	.label 
		span Yes! Send me a quote.*
	.radio_cnt
		label.radio Yes
			input(type="checkbox", id="quote_id", name="quote", required)
			i.i_che
	i.i_icon


h1.form_title 

.input_container
	.label 
		span Suspended License*
	.radio_cnt
		label.radio Yes
			input(type="radio", id="licence_susp_yep", name="license", required)
			i.i_rad
		label.radio No
			input(type="radio", id="licence_susp_nope", name="license", required)
			i.i_rad
	i.i_icon
.input_container
	.label 
		span DWI/DUI*
	.radio_cnt
		label.radio Yes
			input(type="radio", id="dwi_dui_yep", name="dwi_dui", required)
			i.i_rad
		label.radio No
			input(type="radio", id="dwi_dui_nope", name="dwi_dui", required)
			i.i_rad
	i.i_icon
.input_container
	.label 
		span Other Violations/Tickets*
	.radio_cnt
		label.radio Yes
			input(type="radio", id="violations_tickets_yep", name="violations_tickets", required)
			i.i_rad
		label.radio No
			input(type="radio", id="violations_tickets_nope", name="violations_tickets", required)
			i.i_rad
	i.i_icon
.hidded_other_violations
	.input_container
		.label 
			span How Many Other Violations/Tickets?
		.radio_cnt
			label.radio 1
				input(type="radio", id="other_violations_tickets_yep", name="other_violations_tickets", required)
				i.i_rad
			label.radio 2 or More
				input(type="radio", id="other_violations_tickets_nope", name="other_violations_tickets", required)
				i.i_rad
		i.i_icon
.input_container
	.label 
		span Any Accidents*
	.radio_cnt
		label.radio Yes
			input(type="radio", id="accidents_yep", name="accidents", required)
			i.i_rad
		label.radio No
			input(type="radio", id="accidents_nope", name="accidents", required)
			i.i_rad
	i.i_icon
.hidded_any_accidents
	.input_container
		.label 
			span Any Accidents*
		.radio_cnt
			label.radio 1
				input(type="radio", id="accidents_yep", name="accidents", required)
				i.i_rad
			label.radio 2 or More
				input(type="radio", id="accidents_nope", name="accidents", required)
				i.i_rad
		i.i_icon
.col_12.text-center.foot-text
	p By submitting this form I agree to receive autodialed and/or pre-recorded telephone communication from up to eight insurance companies and/or agents at the telephone number I have provided. I understand that consent is not a condition of purchase.
