h1.form_title Step 1 of 3: Vehicle Details
.car_steps.step1
	.car_cnt
		.car_color
		.car_black
	.step
		span.st_title Step
		span.round 3
	.step
		span.st_title Step
		span.round 2
	.step.step_active
		span.st_title Step
		span.round 1

.input_container
	.label 
		span Year*
	select(id="year_id", name="", data-placeholder="Year").field.field_select
		option(value="")
		option(value="")
		option(value="Text 1") Text 1 
		option(value="Text 2") Text 2
		option(value="Text 3") Text 3
	i.i_icon
.input_container
	.label 
		span Make*
	select(id="make_id", name="", data-placeholder="Make").field.field_select
		option(value="")
		option(value="Text 1") Text 1 
		option(value="Text 2") Text 2
		option(value="Text 3") Text 3
	i.i_icon
.input_container.attention
	.label 
		span Model*
	select(id="model_id", name="", data-placeholder="Model").field.field_select
		option(value="")
		option(value="Text 1") Text 1 
		option(value="Text 2") Text 2
		option(value="Text 3") Text 3
	i.i_icon
.input_container.check
	.label 
		span Style*
	select(id="style_id", name="", data-placeholder="Style").field.field_select
		option(value="")
		option(value="Text 1") Text 1 
		option(value="Text 2") Text 2
		option(value="Text 3") Text 3
	i.i_icon
.input_container
	.label 
		span Annual Mileage*
	select(id="annual_mileage_id", name="annual_mileage", data-placeholder="12500").field.field_select
		option(value="")
		option(value="Text 1") Text 1 
		option(value="Text 2") Text 2
		option(value="Text 3") Text 3
	i.i_icon
.input_container
	.label 
		span Alarm Type*
	select(id="alarm_type_id", name="alarm_type", data-placeholder="No Alarm").field.field_select
		option(value="")
		option(value="Text 1") Text 1 
		option(value="Text 2") Text 2
		option(value="Text 3") Text 3
	i.i_icon
.input_container
	.label 
		span Primary Use*
	select(id="primary_use_id", name="primary_use", data-placeholder="Primary Use").field.field_select
		option(value="")
		option(value="Text 1") Text 1 
		option(value="Text 2") Text 2
		option(value="Text 3") Text 3
	i.i_icon
.input_container
	.label 
		span Night Parking*
	select(id="night_parking_id", name="night_parking", data-placeholder="No Cover").field.field_select
		option(value="")
		option(value="Text 1") Text 1 
		option(value="Text 2") Text 2
		option(value="Text 3") Text 3
	i.i_icon
.input_container
	.label 
		span Ownership*
	select(id="ownership_id", name="ownership", data-placeholder="Financed").field.field_select
		option(value="")
		option(value="Text 1") Text 1 
		option(value="Text 2") Text 2
		option(value="Text 3") Text 3
	i.i_icon

