h1.form_title Step 1 of 3: Vehicle Details
.car_steps.step1
	.car_cnt
		.car_color
		.car_black
	.step
		span.st_title Step
		span.round 3
	.step
		span.st_title Step
		span.round 2
	.step.step_active
		span.st_title Step
		span.round 1

.input_container
	.label 
		span Year*
	select(id="year_id", name="", data-placeholder="", required).field.field_select
		option(value, disabled, selected)  Year
		option(value="Text 1") Text 1
		option(value="Text 2") Text 2
		option(value="Text 3") Text 3
	i.i_icon
.input_container
	.label 
		span Make*
	select(id="make_id", name="", data-placeholder="", required).field.field_select
		option(value, disabled, selected) Make
		option(value="Text 1") Text 1 
		option(value="Text 2") Text 2
		option(value="Text 3") Text 3
	i.i_icon
.input_container
	.label 
		span Model*
	select(id="model_id", name="", data-placeholder="", required).field.field_select
		option(value, disabled, selected) Model
		option(value="Text 1") Text 1 
		option(value="Text 2") Text 2
		option(value="Text 3") Text 3
	i.i_icon
.input_container
	.label 
		span Style*
	select(id="style_id", name="", data-placeholder="", required).field.field_select
		option(value, disabled, selected) Style
		option(value="Text 1") Text 1 
		option(value="Text 2") Text 2
		option(value="Text 3") Text 3
	i.i_icon
.input_container
	.label 
		span Annual Mileage*
	select(id="annual_mileage_id", name="annual_mileage", required).field.field_select
		option(value, disabled, selected) 12500
		option(value="Text 1") Text 1 
		option(value="Text 2") Text 2
		option(value="Text 3") Text 3
	i.i_icon
.input_container
	.label 
		span Alarm Type*
	select(id="alarm_type_id", name="alarm_type", required).field.field_select
		option(value, disabled, selected) No Alarm
		option(value="Text 1") Text 1 
		option(value="Text 2") Text 2
		option(value="Text 3") Text 3
	i.i_icon
.input_container
	.label 
		span Primary Use*
	select(id="primary_use_id", name="primary_use", required).field.field_select
		option(value, disabled, selected) Primary Use
		option(value="Text 1") Text 1 
		option(value="Text 2") Text 2
		option(value="Text 3") Text 3
	i.i_icon
.input_container
	.label 
		span Night Parking*
	select(id="night_parking_id", name="night_parking", required).field.field_select
		option(value, disabled, selected) No Cover
		option(value="Text 1") Text 1 
		option(value="Text 2") Text 2
		option(value="Text 3") Text 3
	i.i_icon
.input_container
	.label 
		span Ownership*
	select(id="ownership_id", name="ownership", required).field.field_select
		option(value, disabled, selected) Financed
		option(value="Text 1") Text 1 
		option(value="Text 2") Text 2
		option(value="Text 3") Text 3
	i.i_icon

