doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        title 
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width')
        link(rel='stylesheet', href='css/_main.min.css')
        script(src='js/vendor/jquery-1.10.1.min.js')
        script(src='js/_main.min.js')
        <!--REMOVE IN PRODUCTION-->
        include partials/dev
        <!--/REMOVE IN PRODUCTION--> 

    body
        include partials/header
        include partials/content
        include partials/footer