doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title 
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width')
		link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Raleway:400,300,600')
		link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato')
		link(rel='stylesheet', type='text/css', href='css/_main.min.css')
	body.lp2_styles.janny_flow.bg_wh
		.wrapper
			.section
				.container
					.col_12.text-center
						a(href="http://insuranceexpress.com/")
							img.logo(src='img/logo2.png',alt='InsuranceExpress.com')
					.col_12.text-center
						h1.main_title
							| Congratulations, 
							span.p_name {Name}
							| ! The best quotes for you:
			.section
				.container
					.col_12.text-center
						button.btn.large.margint20(type="button") 
							span SEE ALL QUOTES
						.yellow_man
						hr.margint110b17.hr
				.container
					.col_12.text-center
						h2.sub_title
							| Auto Insurance Providers in 
							span.p_state USA
		.footer
			.section
				.container
					include partials/footer